body {
  background-color: #dddddd;
}
.title-row,
.rt-row,
.question-row,
.answer-row,
.setting-row {
  text-align: center;
  margin-bottom: 10px;
}
.title-block,
.rt-block,
.question-block,
.answer-block,
.setting-block {
  background-color: white;
}
.setting-checklist {
  text-align: left;
}
.setting-checklist ul li {
  list-style-type: none;
  padding: 0;
}
.setting-slider {
  padding-bottom: 20px;
  text-align: center;
}
.setting-slider div input#amount {
  width: 40px;
}